body,
html {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  min-height: 100% !important;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
}
a {
  font-size: 14px;
  text-decoration: none;
  color: white;
}

a:hover,
a:visited {
  color: white;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}
li {
  display: inline-block;
}
#root,
#root > div {
  height: 100%;
  margin: 0px;
}
