.card-button {
  margin: 0px;
}

.css-1iy48dc,
[data-css-1iy48dc] {
  -webkit-transform: translate3d(0, 0, 0);
}

.require-login {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  border: none;
  height: 22px;
  padding: 5px 0px;
  border-radius: 5px;
  color: black;
  background: #dadada;
  letter-spacing: 1px;
  font-size: 18px;
  font-weight: bold;
  cursor: not-allowed;
}

button {
  margin: 0 auto;
  width: 100%;
  border: none;
  height: 34px;
  border-radius: 5px;
  color: black;
  background: #63c742;
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background: #a4ff8a;
}

button:disabled {
  background: #cecece;
  color: darkgray;
  cursor: not-allowed;
}
