audio {
  width: 300px;
  height: auto;
}

.result-card {
  height: auto;
  width: 300px;
  background: #455a64;
  border: 3px solid black;
  border-radius: 5px;
  margin: 50px 10px;
  -webkit-box-shadow: 2px 11px 58px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 11px 58px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 11px 58px -1px rgba(0, 0, 0, 0.75);
  opacity: 0.92;
}

.header-card {
  height: 90px;
  padding-top: 30px;
  text-align: center;
  color: white;
  opacity: 1;
}

.header-card h2 {
  margin: 0;
  color: #67e24d;
}

.header-card h2:hover {
  color: #ccffbb;
}

.header-card h3:hover {
  color: #c4ced2;
}

.card-img {
  height: 205px;
  width: 300px;
  margin: 0px;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}

.card-img:hover {
  opacity: 0.8;
}

.audio-controls {
  margin-top: 15px;
}

@media (max-width: 600px) {
  .no-results {
    font-size: 24px;
  }
}
