.form {
  text-align: center;
  margin: 100px auto;
}
.form input {
  width: 85%;
  border-radius: 5px;
  border: none;
  padding: 0 10px;
  border-bottom: 5px solid white;
  opacity: 0.9;
  background: #171b1d;
  font-size: 40px;
  line-height: 70px;
  color: white;
}

input:focus {
  outline: none;
  background-color: black;
  border-bottom: 5px solid #63d24f;
}

input::-webkit-input-placeholder {
  color: white !important;
  text-align: center;
  padding-left: 0px;
  font-size: 35px;
  font-weight: bold;
}

input:-moz-placeholder {
  /* Firefox 18- */
  color: white !important;
  text-align: center;
  padding-left: 0px;
  font-size: 35px;
  font-weight: bold;
}

input::-moz-placeholder {
  /* Firefox 19+ */
  color: white !important;
  text-align: center;
  padding-left: 0px;
  font-size: 35px;
  font-weight: bold;
}

input:-ms-input-placeholder {
  color: white !important;
  text-align: center;
  padding-left: 0px;
  font-size: 35px;
  font-weight: bold;
}

@media (max-width: 1050px) {
  .form input {
    width: 96%;
    font-size: 25px;
  }

  input::-webkit-input-placeholder {
    color: white !important;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
  }

  input:-moz-placeholder {
    /* Firefox 18- */
    color: white !important;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
  }

  input::-moz-placeholder {
    /* Firefox 19+ */
    color: white !important;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
  }

  input:-ms-input-placeholder {
    color: white !important;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
  }
}
